* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font: inherit;
  color: #fff;
}

button { font-family: inherit; }

/* ------------------------- */
/*            Base           */
/* ------------------------- */

body {
  overflow: hidden;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.2px;
  padding: 2%;
  background: #000;
}

h1 {
  position: relative;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 32px;
}

h2 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}

.disclaimer {
  position: fixed;
  left: 2%;
  bottom: 2%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .5);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #74aab8, #004271);
}

h1,
h2,
.webgl,
.disclaimer { 
  opacity: 0; 
  -webkit-user-select: none;
  user-select: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-content: center;

  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

/* ------------------------- */
/*      Markers & Panels     */
/* ------------------------- */

/* ------- Markers ------- */
.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marker-label {
  position: relative;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, .35);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(0, 0);
  transition: transform .3s, background .25s;
}

.marker.visible  {

  & .marker-label {
    transform: scale(1, 1);

    &:hover {
      transform: scale(1.1, 1.1);
      background: rgba(255, 255, 255, .45);
    }

  }

}

/* ------- Panels ------- */
.info-panel {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgba(0, 0, 0, .8);
  background: #fff;
  font-weight: 400;
  box-shadow: -4px 0 12px rgba(0, 0, 0, .025);

  & .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;

    & h4 { font-weight: 500; }

  }

  & img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  & .panel-body { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 24px 24px; 
    height: 100%;
  }

  & .panel-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
  }

  & .panel-intro {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  & .panel-meta { margin-bottom: 8px; }
  
  & .meta-label {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .4);
    margin-bottom: 4px;
  }

  & .meta-content { font-size: 14px; }

  & .btn-cta {
    width: 100%;
    padding: 8px 16px;
    height: 40px;
    font-size: 14px;
    background: rgba(0,0,0, .9);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    transition: background .25s;

    &:hover { background: rgba(0,0,0, .75); }
  }

  & .btn-close {
    position: relative;
    cursor: pointer;
    background: none;
    border: none;

    &::after {
      content: "";
      position: absolute;
      left: -24px;
      right: -24px;
      top: -24px;
      bottom: -24px;

    }
  }

}

@media screen and (max-width: 480px) {
  body { padding: 3%; }

  h1 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  h2 { font-size: 16px; }
}