* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font: inherit;
  color: #fff;
}

body {
  overflow: hidden;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.2px;
  text-transform: uppercase;
  padding: 2%;
}

h1 {
  position: relative;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 2rem;
}

h2 {
  position: relative;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* background: radial-gradient(circle, #a0d7e6, #008cba); */
  
  /* background: linear-gradient(to top, #97a1d1, #262d62); */
  /* background: linear-gradient(to top, #a0d7e6, #008cba); */
  background: linear-gradient(to top, #74aab8, #004271);

}