* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font: inherit;
  color: #fff;
}

body {
  overflow: hidden;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.2px;
  padding: 2%;
  background: #000;
}

h1 {
  position: relative;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h2 {
  position: relative;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;

  /* background: radial-gradient(circle, #a0d7e6, #008cba); */

  /* background: linear-gradient(to top, #97a1d1, #262d62); */
  /* background: linear-gradient(to top, #a0d7e6, #008cba); */
  background: linear-gradient(to top, #74aab8, #004271);

}

h1,
h2,
.webgl { opacity: 0; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-content: center;

  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 480px) {
  body { padding: 3%; }

  h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  h2 { font-size: 1rem; }
}